@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    background-image: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
}


.card-container{
    margin: 100px 300px 0px 200px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}